
<div xmlns:th="http://www.thymeleaf.org" th:fragment="script" >

    <script th:src="@{/assets/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/assets/libs/feather-icons/feather.min.js}"></script>
    <script th:src="@{/assets/libs/%40frostui/tailwindcss/frostui.js}"></script>
    <script th:src="@{assets/libs/@frostui/tailwindcss/frostui.js}"></script>

    <!-- App Js -->
    <script th:src="@{/assets/js/app.js}"></script>

    <!-- Apexcharts js -->
    <script th:src="@{/assets/libs/apexcharts/apexcharts.min.js}"></script>

    <!-- Dashboard Project Page js -->
    <script th:src="@{/assets/js/pages/dashboard.js}"></script>


    <!-- Gridjs Plugin js -->
    <script th:src="@{assets/libs/gridjs/gridjs.umd.js}"></script>

    <!-- Gridjs Demo js -->
    <script th:src="@{assets/js/pages/table-gridjs.js}"></script>

    <!-- end script -->
<script>


</script>
</div>