<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/fragments/fragment-head :: head" />
<body >

<div class="flex wrapper">
    <th:block th:include="/fragments/fragment-sidebar :: sidebar" />
    <main class="page-content">
        <!-- fragment -->
        <th:block th:include="/fragments/fragment-topbar :: topbar" />
        <th:block th:include="/fragments/fragment-topbar-search :: topbar-search" />






        <!-- Page des contenu de page tableaux -->
        <main class="flex-grow p-6">

            <!-- Page Title Start -->



            <div class="flex justify-between items-center mb-6">
                <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Validation</h4>

                <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
                    <div class="flex items-center gap-2">
                        <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400">Konrix</a>
                    </div>

                    <div class="flex items-center gap-2">
                        <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                        <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400">Forms</a>
                    </div>

                    <div class="flex items-center gap-2">
                        <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                        <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400" aria-current="page">Validation</a>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <div class="flex justify-between items-center">
                        <h4 class="card-title">Enregistreùent de votre administrateur</h4>
                        <div class="flex items-center gap-2">
                            <button type="button" class="btn-code" data-fc-type="collapse" data-fc-target="pristineJSValidation">
                                <i class="mgc_eye_line text-lg"></i>
                                <span class="ms-2">Code</span>
                            </button>

                            <button class="btn-code" data-clipboard-action="copy">
                                <i class="mgc_copy_line text-lg"></i>
                                <span class="ms-2">Copy</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="p-6">
                    <form class="valid-form grid lg:grid-cols-3 gap-6">
                        <div class="form-group">
                            <label for="inputEmail4" class="text-gray-800 text-sm font-medium inline-block mb-2">Nom complet</label>
                            <input type="text" class="form-input" id="inputEmail4" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4" class="text-gray-800 text-sm font-medium inline-block mb-2">email</label>
                            <input type="email" class="form-input" id="inputEmail1" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword4" class="text-gray-800 text-sm font-medium inline-block mb-2">Password</label>
                            <input type="password" class="form-input" id="inputPassword4" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="text-gray-800 text-sm font-medium inline-block mb-2">Addresse 1</label>
                            <input type="text" class="form-input" id="inputAddress" placeholder="1234 Main St" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2" class="text-gray-800 text-sm font-medium inline-block mb-2">Address 2</label>
                            <input type="text" class="form-input" id="inputAddress2" placeholder="Apartment, studio, or floor" required>
                        </div>
                        <div class="form-group">
                            <label for="inputCity" class="text-gray-800 text-sm font-medium inline-block mb-2">Ville</label>
                            <input type="text" class="form-input" id="inputCity" required>
                        </div>
                        <div class="form-group">
                            <label for="inputState" class="text-gray-800 text-sm font-medium inline-block mb-2">State</label>
                            <select id="inputState" class="form-input" required>
                                <option>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputZip" class="text-gray-800 text-sm font-medium inline-block mb-2">Zip</label>
                            <input type="text" class="form-input" id="inputZip" required>
                        </div>
                        <div class="form-group col-span-3">
                            <div class="form-check">
                                <input class="form-checkbox rounded" type="checkbox" value="" id="checked-demo" required>
                                <label class="ms-1.5" for="checked-demo">
                                    Envoyer un email a votre administrateur
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-span-3">
                            <button type="submit" class="btn bg-primary text-white">Enregistrer</button>
                        </div>
                    </form>

                    <div id="pristineJSValidation" class="hidden w-full overflow-hidden transition-[height] duration-300">
                                <pre class="language-html h-56">
                                    <code>
                                        &lt;form class=&quot;valid-form grid lg:grid-cols-3 gap-6&quot;&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label for=&quot;inputEmail4&quot; class=&quot;text-gray-800 text-sm font-medium inline-block mb-2&quot;&gt;Email&lt;/label&gt;
                                                &lt;input type=&quot;email&quot; class=&quot;form-input&quot; id=&quot;inputEmail4&quot; required&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label for=&quot;inputPassword4&quot; class=&quot;text-gray-800 text-sm font-medium inline-block mb-2&quot;&gt;Password&lt;/label&gt;
                                                &lt;input type=&quot;password&quot; class=&quot;form-input&quot; id=&quot;inputPassword4&quot; required&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label for=&quot;inputAddress&quot; class=&quot;text-gray-800 text-sm font-medium inline-block mb-2&quot;&gt;Address&lt;/label&gt;
                                                &lt;input type=&quot;text&quot; class=&quot;form-input&quot; id=&quot;inputAddress&quot; placeholder=&quot;1234 Main St&quot; required&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label for=&quot;inputAddress2&quot; class=&quot;text-gray-800 text-sm font-medium inline-block mb-2&quot;&gt;Address 2&lt;/label&gt;
                                                &lt;input type=&quot;text&quot; class=&quot;form-input&quot; id=&quot;inputAddress2&quot; placeholder=&quot;Apartment, studio, or floor&quot; required&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label for=&quot;inputCity&quot; class=&quot;text-gray-800 text-sm font-medium inline-block mb-2&quot;&gt;City&lt;/label&gt;
                                                &lt;input type=&quot;text&quot; class=&quot;form-input&quot; id=&quot;inputCity&quot; required&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label for=&quot;inputState&quot; class=&quot;text-gray-800 text-sm font-medium inline-block mb-2&quot;&gt;State&lt;/label&gt;
                                                &lt;select id=&quot;inputState&quot; class=&quot;form-input&quot; required&gt;
                                                    &lt;option&gt;Choose...&lt;/option&gt;
                                                    &lt;option&gt;...&lt;/option&gt;
                                                &lt;/select&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label for=&quot;inputZip&quot; class=&quot;text-gray-800 text-sm font-medium inline-block mb-2&quot;&gt;Zip&lt;/label&gt;
                                                &lt;input type=&quot;text&quot; class=&quot;form-input&quot; id=&quot;inputZip&quot; required&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;form-group col-span-3&quot;&gt;
                                                &lt;div class=&quot;form-check&quot;&gt;
                                                    &lt;input class=&quot;form-checkbox rounded&quot; type=&quot;checkbox&quot; value=&quot;&quot; id=&quot;checked-demo&quot; required&gt;
                                                    &lt;label class=&quot;ms-1.5&quot; for=&quot;checked-demo&quot;&gt;
                                                        I agree to the Terms of Use
                                                    &lt;/label&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;

                                            &lt;div class=&quot;form-group col-span-3&quot;&gt;
                                                &lt;button type=&quot;submit&quot; class=&quot;btn bg-primary text-white&quot;&gt;Register Now&lt;/button&gt;
                                            &lt;/div&gt;
                                        &lt;/form&gt;
                                    </code>
                                </pre>
                    </div>
                </div>
            </div>




        </main>







        <th:block th:include="/fragments/fragment-footer :: footer" />

</div>


<th:block th:include="/fragments/fragment-top-button :: topbutton" />
<th:block th:include="/fragments/fragment-theme-settings :: theme-settings" />
<!-- script -->
<th:block th:include="/fragments/fragment-script :: script" />
</body>
</html>